{% extends "base.html" %}

{% block content %}
<style>
    .ui.popup{overflow:auto;
    font-family: "Lucida Console", Monaco, monospace !important;
    font-size: .75em; }

</style>
<div class="ui container">
    <div class="ui error message">
        <i class="close icon"></i>
        <div class="header">
            NOTE TO GRADER

        </div>
        <ul class="list">
            <li>Unittests are not perfect with the assignments given flexible
                instructions.
            </li>
            <li>For any test that fails, verify the results by running it
                manually. You may have to import the project into an IDE for
                this to be effective.
            </li>
            <li>A copy of the source code is opened for you convenience. You are
                expected to read through it and comment on it in the final PDF.
            </li>
        </ul>
    </div>
    <div class="ui segment">
        <button class="fluid ui teal positive runner button">Raw Program Run
        </button>

        <div class="ui runner modal">
            <div class="header">Raw Program Runner</div>
            <div class="content">
                <div class="ui form">
                    <div class="field">
                        <label>Program Inputs (one per line if any)</label>
                        <textarea id="cli-input"
                                  style="font-family:'Lucida Console', Monaco, monospace;"
                                  rows="10"></textarea>
                    </div>
                    <div class="field">
                        <button id="run-button"
                                class="fluid ui teal positive button">Run
                            Standard Program
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <h2 class="ui header">
            {{ student.fullname }}
            <div class="sub header">Submission: {% if autodetect %}{{
                autodetect }}{% else %}No submission detected.{% endif
                %}
            </div>
        </h2>
        <form action="rubric" method="post">

            <div class="ui segment">
                <h4 class="ui header">Instructor Flags
                    <div class="sub header">Use these to flag a submission for
                        the instructor to follow up on. Students will not see
                        these
                        as part of their score. They will only be sent to the
                        instructor.
                    </div>
                </h4>
                <div class="ui red segment">
                    <div class="ui grid">
                        <div class="four wide column">
                            <div class="ui fluid toggle checkbox">
                                <input value="flagged" type="checkbox"
                                       name="flag_general">
                                <label>General Flag</label>
                            </div>
                        </div>
                        <div class="four wide column">
                            <div class="ui fluid toggle checkbox">
                                <input value="flagged" type="checkbox"
                                       name="flag_quality">
                                <label>Code Quality Flag</label>
                            </div>
                        </div>
                        <div class="four wide column">
                            <div class="ui fluid  toggle checkbox">
                                <input value="flagged" type="checkbox"
                                       name="flag_dishonesty">
                                <label>Academic Dishonesty Flag</label>
                            </div>
                        </div>
                        <div class="four wide column">
                            <div class="ui fluid toggle checkbox">
                                <input value="flagged" type="checkbox"
                                       name="flag_regrade">
                                <label>Regrade Flag</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <table class="ui celled striped table">
                <thead>
                <tr>
                    <th colspan="3">
                        Rubric
                    </th>
                </tr>
                <tr class="center aligned header">
                    <th class="five wide">
                        <i class="pencil icon"></i>Description
                    </th>
                    <th class="two wide"><i class="calculator icon"></i>Score
                    </th>
                    <th class="five wide"><i class="comment icon"></i>Comments
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for result in results %}
                <tr>
                    <td class="collapsing">
                        {{ result }}

                    </td>
                    <td>
                        <div class="ui fluid right labeled input">
                            <input name="temp__earned__{{ results[result]._id }}"
                                   value="{{ results[result].earned }}"
                                   type="text"
                                   placeholder="0.0">
                            <div class="ui basic label">/ {{
                                results[result].score
                                }}
                            </div>
                        </div>
                    </td>
                    <td class="ui right aligned fluid corner labeled input">
                        <input name="temp__comment__{{ results[result]._id }}"
                               value="{{ results[result].comment }}"
                               type="text"
                               placeholder="comments"/>
                        {% if results[result].trace %}
                        <div class="trace ui left red corner label"
                             data-title="Stack Trace"
                             data-content="{{ results[result].trace }}">
                            {% endif %}


                        </div>

                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="ui form">
                <div class="field">
                    <label>General Comments</label>
                    <textarea name="comments"></textarea>
                </div>
                <div class="field">
                </div>
                <input class="ui submit button" type="submit"/>
        </form>
    </div>
</div>
</div>
{% endblock %}

{% block script %}

var resizePopup = function(){$('.ui.popup').css('max-height', $(window).height());};

$(window).resize(function(e){
resizePopup();
});

$('.trace')
.popup({
on: 'hover',
lastResort: 'bottom right',
onShow: function(){
resizePopup();
},
})
;

$('.message .close')
.on('click', function() {
$(this)
.closest('.message')
.transition('fade')
;
})
;

var modalElem = $('.runner.modal');

modalElem.modal('attach events', '.runner.button', 'show')
;


var runenabled = true;
var runbutton = $('#run-button');
var clibox = $('#cli-input');
runbutton.click(function(e) {
if (runenabled) {
runbutton.addClass('loading');
$.ajax({
type: "POST",
url: "run/",
data: { 'run': 'runner', 'args': clibox.val()},
success: function(data) {
runbutton.removeClass('loading');
runenabled = true;
modalElem.modal('hide');
},
error: function(xhr, textStatus, thrownError, data) {
runbutton.removeClass('loading');
runbutton.addClass('red');
runenabled = true;
}
});
}
})


{% endblock %}