<!DOCTYPE html>
<html>
<head>
    <title>Rubric</title>
</head>

<body>
<h1></h1>
<h2>Info</h2>
Student:
<mark>{{ student.fullname }}</mark>
<br/>
Username: {{ student.username }}<br/>
Email: {{ student.email }}<br/><br/>
<hr/>
<h2>Rubric</h2>

{% for result in results %}

{{ result }}<br/>
{% if results[result].earned is equalto results[result].score %}
Score: {{ results[result].earned }} / {{ results[result].score }}<br/>
{% else %}
<span style="color=red;">Score: {{ results[result].earned }} / {{ results[result].score }}</span><br />
{% endif %}
Comments: {{ results[result].comment }}<br/><br/>
{% endfor %}

<h2>Final Score</h2>
<h3>{{ score[0] }} / {{ score[1] }}</h3>
<h2>General Comments</h2>
<p>{{ comments }}</p>
</body>
</html>
